* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(245, 216, 114);
}

.main-container {
  max-width: 1200px;
  text-align: center;
}
